<!--
  Generated template for the Register page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="dark">
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content class="login-content" padding>
  <div class="login-box">
    
    <form (ngSubmit)="register()"  [formGroup]="registerForm">
      <ion-row>
        <ion-col>
          <ion-list >
            
					<ion-item no-padding>
                               <!-- <ion-label floating>Name <span class="color_error">*</span></ion-label>-->
                                <ion-input type="text" placeholder="Username" clearInput="true" autocorrect="true"    formControlName="name"></ion-input>
					</ion-item>
                    <!--<ion-item no-padding *ngIf="!registerForm.controls.name.valid && registerForm.controls.name.dirty ">
                                <p class="red-Color">Name is required</p>
                    </ion-item>-->
					
							<p  class="color_error"  *ngIf="registerForm.controls.name.hasError('required') && registerForm.controls.name.touched">Sorry, field name is required!</p>
						
								<p class="color_error"  *ngIf="registerForm.controls.name.hasError('minlength') && registerForm.controls.name.touched">Sorry, minimum name length is 8!</p>
					
					
		
					<ion-item no-padding>
					  <ion-input type="password" placeholder="Password"  formControlName="password"></ion-input>
					</ion-item>
					
					
						<p class="color_error" *ngIf="registerForm.controls.password.hasError('required') && registerForm.controls.password.touched">Sorry, Password is required!</p>
						<!--	<ion-item no-padding >
						</ion-item>-->
						<p class="color_error" *ngIf="registerForm.controls.password.hasError('minlength') && registerForm.controls.password.touched">Sorry, minimum password length is 8!</p>

            
					 <ion-item no-padding>
					  <ion-input type="text" placeholder="mobile" clearInput="true" formControlName="mobile"></ion-input>
					</ion-item>
					
						<p class="color_error" *ngIf="registerForm.controls.mobile.hasError('required') && registerForm.controls.mobile.touched">Sorry, field name is required!</p>

						<p class="color_error" *ngIf="registerForm.controls.mobile.hasError('minlength') && registerForm.controls.mobile.touched">Sorry, minimum length is 10</p>


						<p class="color_error" *ngIf="registerForm.controls.mobile.hasError('maxlength') && registerForm.controls.mobile.touched">Sorry, maximum name length is 10</p>


			
			
          </ion-list>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.valid" >Register</button>
        </ion-col>
      </ion-row>
      
    </form>
  </div>